<h1>博客列表</h1>

<div>
  <% @articles.each do |article| %>
        <%= render :partial => "blog_item", :locals => {:b => article} %>
  <% end %>
</div>


<br />

<%= link_to 'New Article', new_article_path %>
