// Place all the styles related to the Categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//layout
.container_left{
  width: 650px;
  float: left;
  height: 100%;
  border: 1px solid #0033cc;
}
.container_right{
  border: 1px solid #cc0000;
  height: 100%;
  float: left;
  margin-left: 5px;
  width: 280px;
  word-wrap:break-word;
  word-break: break-all;
}
.wrap_container {
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  width: 960px;
  position: relative;
  margin-top: 20px;
  min-height: 600px;
}

.foot{
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
  width: 960px;
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 40px;
}

//圆角div
.raised{background:transparent;}
.raised h1,.raised p{margin:0 5px;}
.raised p{padding-bottom:0.5em;}
.raised .b1,.raised .b2,.raised .b3,.raised .b4,.raised .b1b,.raised .b2b,.raised .b3b,.raised .b4b{display:block;
  overflow:hidden;font-size:1px;}
.raised .b1,.raised .b2,.raised .b3,.raised .b1b,.raised .b2b,.raised .b3b{height:1px;}
.raised .b2{background:#ccc;border-left:1px solid #fff;border-right:1px solid #eee;}
.raised .b3{background:#ccc;border-left:1px solid #fff;border-right:1px solid #ddd;}
.raised .b4{background:#ccc;border-left:1px solid #fff;border-right:1px solid #aaa;}
.raised .b4b{background:#ccc;border-left:1px solid #eee;border-right:1px solid #999;}
.raised .b3b{background:#ccc;border-left:1px solid #ddd;border-right:1px solid #999;}
.raised .b2b{background:#ccc;border-left:1px solid #aaa;border-right:1px solid #999;}
.raised .b1{margin:0 5px;background:#fff;}
.raised .b2, .raised .b2b{margin:0 3px;border-width:0 2px;}
.raised .b3, .raised .b3b{margin:0 2px;}
.raised .b4, .raised .b4b{height:2px; margin:0 1px;}
.raised .b1b{margin:0 5px; background:#999;}
.raised .boxcontent{display:block;background:#ccc;border-left:1px solid #fff;border-right:1px solid #999;
  height: 100%;padding: 5px;}
.raised .container{display:block;background:#ccc;border-left:1px solid #fff;border-right:1px solid #999;
  min-height: 600px;padding: 5px;}

